/* This file is for your main application css. */
.link-white {
 color: #E1D3C1;
}
.link-white:hover {
  color: white;
}
.no-top-border tr th {
  border-top: none !important;
  border-bottom: solid 3px !important;
}

.no-padding tr th, .no-padding tr td{
  border: 0;
}

.hide-text-overflow td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table {
  font-size: smaller;
}

.navbar-5-pad {
  padding-top: 3px !important;
  padding-bottom: 4px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-10-5 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.no-margin {
 margin: 0;
}

.scroll {
    max-height: 500px;
    overflow-y: auto;
}

.dot-orange {
  height: 1em;
  width: 1em;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
}

.dot-green {
  height: 1em;
  width: 1em;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.dot-red {
  height: 1em;
  width: 1em;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.wdth-5 {
 width: 5%;
}

.wdth-10 {
 width: 10%;
}

.wdth-15 {
 width: 15%;
}

.wdth-20 {
  width: 20%;
}

.wdth-30 {
  width: 30%;
}

.btn-group-xs > .btn, .btn-xs, .pagination {
  padding  : .20rem .4rem !important;
  font-size  : .700rem !important;
  line-height  : .3 !important;
  border-radius : .2rem !important;
}

.nav-tabs .nav-item a {
  color: gray;
}

.alert:empty {
  display: none;
}

.red {
  color: red;
}

body {
  background-color: #fdf6ee !important;
}

.hide {
  visibility: hidden;
}

.round{
	box-shadow: 2px 2px 3px #999;
	border-radius:50% !important;
}
