/* This file is for your main application css. */
.link-white {
 color: #E1D3C1;
}
.link-white:hover {
  color: white;
}
.no-top-border tr th {
  border-top: none !important;
  border-bottom: solid 3px !important;
}
