<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <%= link to: tech_path(@conn, :index), class: "nav-link active" do %>
          <i class="fas fa-ticket-alt"></i>&nbsp; Pending Tickets
        <% end %>
      </li>
    </ul>
  </div>
  <div class="card-body padding-10">
  </div>
</div>
